.sort{width:230px;height:auto;float:left;position:relative;z-index:99;left:0;padding:0; margin:0; margin-top:-45px;}
.sort .sort-ti{height:45px;font:16px;color:#fff; text-align:center;background:#da0204; line-height:45px; font-weight:normal; font-family:"寰蒋闆呴粦";}
.sort .sort-list{border:1px solid #CCC;border-top:0;padding:0;overflow:hidden;width:228px; background:white;}
.sort .sort-list ul.one{ overflow:hidden;width:230px;}
.sort .sort-list li{padding:1px 5px;width:225px;min-height:30px; cursor:pointer; padding-left:10px; overflow:hidden;background:#f3f3f3;}
.sort .sort-list dd{padding:0; width:230px; overflow:hidden; clear:both; float:left; margin:0;}
.sort .sort-list dd img{width:230px; display:block; float:left; clear:both; margin-left:0; padding:0;}
.sort .sort-list dd b{display:block; margin:0 5px; float:left; line-height:20px; font-size:12px; margin-left:11px; margin-top:4px}
.sort .sort-list dd a{ display:block; line-height:25px; font-size:12px; height:20px; padding:0; float:left; background:white; margin:3px 2px; color:#666; font-family:Arial;display:block; margin-left:10px}
.sort .sort-list dd a:hover{color:#900; font-weight:bold;}
.sort .sort-list li.er_li{ background:white}
.sort .sort-list li a{line-height:20px;font-size:12px;cursor:pointer; text-align:left; float:left; display:block;}
.sort .sort-list li a b{color:black; display:block; margin-bottom:3px; width:230px;}
.sort .sort-list li a i{color:red; font-style:normal;}
.sort .sort-list li a span{display:block;height:25px;color:black; font-size:12px;color:#666;float:left;overflow:hidden; text-align:left; width:55px; overflow:hidden}
.sort .sort-list li.hover{ background:#da0204}
.sort .sort-list li.hover b{color:white}
.sort .sort-list li.hover i{color:white;}
.sort .sort-list li.hover span{color:white}
.sort .sort-list li a span:hover{text-decoration:underline}

/*.sort .sort-list li.hover{ background:#f7f7f7}
.sort .sort-list li.hover b{color:#666}
.sort .sort-list li.hover i{color:#666}
.sort .sort-list li.hover span{color:#666}*/

.sort .sort-list ul.one ul{display:none;}
.sort .sort-list ul.one li.hover ul{background-color:#fff;left:230px;width:720px;z-index:999;position:absolute;height:475px;overflow-y:scroll; padding:10px;display:block;border:1px solid #CCC;margin-left:-1px;top: 45px;}
.sort .sort-list ul.one li.hover ul li{width:700px;padding:0;padding-bottom:5px; border-bottom:1px solid #CCC; margin-bottom:5px;padding-left:10px; overflow:hidden; background:none;}
.sort .sort-list ul.one li.hover ul li a{height:27px;line-height:27px;font-size:12px;border-top:0;border-bottom:0;color:#333; margin-left:-1px}

/*.sort .sort-list ul.one li.hover ul li a:hover{text-decoration:underline}*/
.sort .sort-list ul.one li.hover ul li a b{color:#900; display:block;width:700px;}
.sort .sort-list ul.one li.hover ul li a span{ display:block; overflow:hidden; float:left; color:#666;margin:0 3px; min-width:30px; text-align:center; width:auto}
.sort .sort-list ul.one li.hover ul li a span:hover{ color:#ff3c00; text-decoration:none;}
.sort .sort-list ul.one li.hover ul li i{ font-style:normal;color:#999;float:left; line-height:30px; font-size:12px;}


.sort1{width:230px;height:auto;float:left;position:relative;z-index:9999;left:0;padding:0; margin:0;}
.sort1 .sort-ti{height:45px;font:16px;color:#fff; text-align:center;background:#d92f30; line-height:45px; font-weight:bold}
.sort1 .sort-list1{border:1px solid #CCC;border-top:0;padding:0 1px;background:#f3f3f3;overflow:hidden}
.sort1 .sort-list1 ul.one{ overflow:hidden;width:230px;}
.sort1 .sort-list1 li{width:230px;min-height:60px; cursor:pointer; padding-bottom:5px;}
.sort1 .sort-list1 li .sp_1{ display:block;overflow:hidden; text-align:left; padding-left:10px;}
.sort1 .sort-list1 li .sp_1 a{font-size:14px; font-family:"寰蒋闆呴粦"; color:#333; font-weight:bold;line-height:45px;}
.sort1 .sort-list1 li .sp_1 a:hover{color:#fd6c01;}
.sort1 .sort-list1 li .sp_2{ display:block; border-top:1px solid #CCC; overflow:hidden; text-align:left; padding-left:10px}
.sort1 .sort-list1 li .sp_2 a{font-size:14px; font-family:"寰蒋闆呴粦"; color:#333; font-weight:bold; line-height:35px}
.sort1 .sort-list1 li .sp_2 a:hover{ text-decoration:underline}
.sort1 .sort-list1 li .sp_3{ display:block; border-top:1px solid #CCC; overflow:hidden; text-align:left; padding-left:10px; }
.sort1 .sort-list1 li .sp_3 a{font-size:12px; color:#666; display:block; float:left;width:70px; text-align:left;line-height:30px}
.sort1 .sort-list1 li .sp_3 a:hover{color:#fd6c01}

.sort1 .sort-list1 li a.cur{ color:#fd6c01;}

.sort1 .sort-list1 li.er_li{ background:white}
.sort1 .sort-list1 li.hover{ background:#af0102}
.sort1 .sort-list1 li a{line-height:30px;font-size:14px;cursor:pointer; text-align:left; float:left; display:block;}
.sort1 .sort-list1 li a b{color:black; display:block;}
.sort1 .sort-list1 li a i{color:red; font-style:normal;}
.sort1 .sort-list1 li a span{display:block;height:30px;color:black; font-size:12px;color:#666;float:left;margin-right:15px;overflow:hidden;}
.sort1 .sort-list1 li.hover b{color:white}
.sort1 .sort-list1 li.hover i{color:white}
.sort1 .sort-list1 li.hover span{color:white}
.sort1 .sort-list1 li a span:hover{ text-decoration:underline}
.cu_1{ height:0}
.cu_2{ height:auto}

.ygFilterCon{border:1px solid #e3e3e3;overflow:hidden}
.ygFilterCon dl{background:#f6f6f6;border-bottom:1px dotted #ccc;margin-bottom:-1px;margin-top:1px; overflow:hidden}
.ygFilterCon dl dt{float:left;width:80px; line-height:30px;padding-top:5px;padding-right:18px;text-align:right;color:#666; font-size:12px}
.ygFilterCon dl dd{float:left;background:#fff;width:1100px;padding:4px 0;overflow:hidden;position:relative; min-height:30px; margin-right:-5px}
.ygFilterCon dl.chooseList dd{background:#fffdf4}
.catList{width:900px;float:left;margin-left:13px;display:inline; overflow:hidden;}
.catList li{float:left;width:118px;padding-right:5px;height:25px;line-height:25px;text-align:left;overflow:hidden;white-space:nowrap}
.catList li a{white-space:nowrap;cursor:pointer;min-width:250px;display:block; color:#666; font-size:12px;}
.catList li a:hover{color:#ff8e08}
.catList li a i{display:inline-block;float:left;margin-top:6px;margin-right:4px;_margin-right:1px;background:#fff;width:11px;height:11px;border:1px solid #999;vertical-align:middle;overflow:hidden; font-style:normal;}
.catList li a .Gray{ font-style:normal; color:#999}
.catList1{width:900px;float:left;margin-left:13px;display:inline; overflow:hidden;}
.catList1 li{float:left;padding-right:5px;height:25px;line-height:25px;text-align:left;overflow:hidden;white-space:nowrap}



.chooseList .catList .choosed a i{background:#ff5000;border:1px solid #ff5000; font-style:normal}
.defaultCat .catList li a i{visibility:hidden}
.defaultCat .color li a i{display:none}
.color.catList li a i{margin-top:8px;_margin-top:5px;margin-top:6px\9}
.chooseList .catList li a i{visibility:visible}
.ygFilterCon .size1 li{width:47px}
.ygFilterCon .size2 li{width:85px}
.defaultCat .color{margin-left:30px}
.defaultCat .color li{width:20px}
.chooseList .color li{width:70px}
.ygFilterCon .color li img{display:inline-block;border:1px solid #6f6f6f;vertical-align:middle;margin-top:2px\9}
.ygFilter_cz{display:block;text-align:right;position:absolute;right:23px;top:0;height:20px;padding:6px 0;clear:both;}
.ygFilter_cz input{border:0;width:46px;height:20px;line-height:20px;font-size:12px;overflow:hidden;cursor:pointer;background:#f4f4f4 url(../images/8.png) no-repeat;}

.ygFilter_cz1 input{border:0;width:46px;height:20px;line-height:20px;font-size:12px;overflow:hidden;cursor:pointer;background:#f4f4f4 url(../images/8.png) no-repeat 0 -325px;color:#fff; position:absolute; right:65px;bottom:5px}


.ygFilter_cz .cancel{background-position:-46px -325px;color:#666;margin-left:10px}
.ygFilterCon .moreSelete{position:absolute;display:block;background:#f4f4f4 url(../images/8.png) no-repeat;text-align:left;width:50px;padding:0 5px;height:20px;line-height:20px;right:63px;top:6px; font-size:12px; color:#666}
.ygFilterCon .moreSelete i{display:inline-block;float:left;background:#f4f4f4 url(../images/8.png) no-repeat -56px -197px;width:8px;height:8px;margin-top:5px;margin-right:6px;_margin-right:3px}
.ygFilterCon .moreSelete:hover i{background-position:-65px -197px}
.ygFilterCon .moreLink{position:absolute;right:8px;width:45px;height:18px;overflow:hidden;line-height:18px;top:7px;display:none; font-size:12px; color:#666}
.ygFilterCon .moreLink i{width:12px;height:5px;position:absolute;top:6px;overflow:hidden;background:url(../images/8.png) no-repeat}
.ygFilterCon .moreLink.down i{background:url(../images/8.png) no-repeat -110px -154px}
.ygFilterCon .moreLink.down:hover i{background:url(../images/8.png) no-repeat -12px -205px}
.ygFilterCon .moreLink.up i{background:url(../images/8.png) no-repeat -96px -153px}
.ygFilterCon .moreLink.up:hover i{background:url(../images/8.png) no-repeat -12px -197px}
.ygFilterCon .defaultCat .moreSelete,.chooseList .ygFilter_cz{display:block}
.ygFilterCon .chooseList .moreSelete,.defaultCat .ygFilter_cz{display:none}
.ygFilter_cz .smt{background-position:0 -325px;color:#fff}
.ygFilter_cz .noSmt{background-position:0 -345px;color:#c5c5c5;cursor:no-drop}

.catList1 .sp_xz{ width:!important;background:url(../images/6.png) no-repeat center right;text-align:left;padding:0;overflow:hidden;margin:5px 15px; padding-right:20px; display:none}
.catList1 .sp_xz a{height:25px; line-height:25px;float:left; font-size:12px; text-align:left; color:#333; text-align:left;}
.catList1 .sp_xz .Gray{ color:#999}
.catList1 .sp_xz a:hover{ color:#333}












#box .jie_7 .le_1 .le_1box .t1{height:100px; clear:both;float:left;}
#box .jie_7 .le_1 .le_1box .t2{width:450px;text-indent:0;float:left; border:1px solid #CCC;}
#box .jie_7 .le_1 .le_1box .t2 img{text-indent:0;width:450px; height:450px;}
#box .jie_7 .le_1 .le_1box #showArea{width:450px;margin:10px auto;overflow:hidden; clear:both;}
#box .jie_7 .le_1 .le_1box #showArea a{width:61px; height:65px; display:block; float:left;overflow:hidden;border:1px solid #ccc;margin-right:10px; padding:3px; background:white}
#box .jie_7 .le_1 .le_1box #showArea a.hover{border:none;background:url(../images/ss_03.png) no-repeat center}
#box .jie_7 .le_1 .le_1box #showArea a img{cursor:pointer;display:block;width:57px;height:61px;float:left; padding-top:4px;}
#box .jie_7 .le_1 .le_1box #main_img{cursor:pointer;display:block}
#box .jie_7 .le_1 .le_1box #gotop{cursor:pointer;display:block;margin-left:9px}
#box .jie_7 .le_1 .le_1box #gobottom{cursor:pointer;display:block;margin-left:9px}

.MagicZoomBigImageCont{border:1px solid #91b817;overflow:hidden}
.MagicZoomBigImageCont img{width:800px;height:800px}
.MagicZoomBigImageCont iframe{width:300px;height:300px}
.MagicZoomHeader{font:10px Tahoma, Verdana, Arial, sans-serif;color:#fff;background:#91b817;text-align:center !important}
.MagicZoomPup{border:1px solid #aaa;background:#fff;cursor:hand;left:0}
.MagicZoomLoading{text-align:center;background:#fff;color:#444;opacity:0.8;padding:3px 3px 3px 3px !important;display:none}
.MagicZoomLoading img{padding-top:3px !important}
.MagicThumb{cursor:url(cursor/zoomin.cur), pointer;outline:none}
.MagicThumb-zoomed{cursor:default}
.MagicThumb span{display:none}
.MagicThumb-image{border:1px solid #ccc;outline:none}
.MagicThumb-image-zoomed{cursor:url(cursor/zoomout.cur), pointer}
.MagicThumb-caption{color:#333333;background-color:#F0F0F0;border:1px solid #CCC;border-top:none;font-family:Verdana, Helvetica;font-size:11px;padding:8px 16px}
.MagicThumb-controlbar{display:block;height:18px}
.MagicThumb-controlbar a{display:block;width:180px;height:180px;margin:0px 1px;outline:none;float:left;overflow:hidden}
.MagicThumb-controlbar a span{display:block;width:1000px;height:1000px;background:transparent url(graphics/controlbar.png) no-repeat 0 0;outline:none;position:absolute;left:0px;top:0px}
.MagicThumb-loading{border:1px solid #000;background:#fff url(graphics/loader.gif) no-repeat 2px 50%;padding:2px 2px 2px 22px;margin:0;text-decoration:none;text-align:left;font-size:8pt;font-family:sans-serif;}

/*灞�儴鏀惧ぇ鐗瑰啓 end*/


/*js鐗规晥涓撶敤*/

#mbOverlay { position:fixed; z-index:9998; top:0; left:0; width:100%; height:100%; background-color:#000; cursor:pointer; }
#mbOverlay.mbOverlayFF {background:transparent black; }
#mbOverlay.mbOverlayIE { position:absolute; }
#mbCenter { height:557px; position:absolute; z-index:9999; left:50%; background-color:#fff; -moz-border-radius:10px; -webkit-border-radius:10px; -moz-box-shadow:0 10px 40px rgba(0, 0, 0, 0.70); -webkit-box-shadow:0 10px 40px rgba(0, 0, 0, 0.70); }
#mbCenter.mbLoading { background:#fff url(../images/WhiteLoading.gif)) no-repeat center; -moz-box-shadow:none; -webkit-box-shadow:none; }
#mbImage { left:0; top:0; font-family:Myriad, Verdana, Arial, Helvetica, sans-serif; line-height:20px; font-size:12px; color:#fff; text-align:left; background-position:center center; background-repeat:no-repeat; padding:10px; }
#mbImage a, #mbImage a:link, #mbImage a:visited { color:#ddd; }
#mbImage a:hover, #mbImage a:active { color:#fff; }
#mbBottom { min-height:20px; font-family:Myriad, Verdana, Arial, Helvetica, sans-serif; line-height:20px; font-size:12px; color:#999; text-align:left; padding:0 10px 10px; }
#mbTitle { display:inline; color:#999; font-weight:bold; line-height:20px; font-size:12px; }
#mbNumber { background:rgba(0,0,0,0.5) no-repeat center; display:inline; color:#C00; line-height:26px; font-size:12px; position: absolute; bottom: 10px; right: 10px; text-align: center; width:65px; height:26px; display:none}
#mbCaption { display:block; color:#999; line-height:14px; font-size:10px; }
#mbPrevLink, #mbNextLink, #mbCloseLink { display:block; float:right; height:20px; margin:0; outline:none; }
#mbPrevLink { width:32px; height:100px; background:transparent url(../images/CustomBlackPrevious.gif) no-repeat center; position: absolute; top:38%; left:-32px; }
#mbNextLink { width:32px; height:100px; background:transparent url(../images/CustomBlackNext.gif) no-repeat center; position: absolute; top:38%; right:-32px; }
#mbCloseLink { width:24px; background:transparent url(../images/CustomBlackClose.gif) no-repeat center; position:absolute; top:10px; right:10px; }
#mbError { position:relative; font-family:Myriad, Verdana, Arial, Helvetica, sans-serif; line-height:20px; font-size:12px; color:#fff; text-align:center; border:10px solid #700; padding:10px 10px 10px; margin:20px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#mbError a, #mbError a:link, #mbError a:visited, #mbError a:hover, #mbError a:active { color:#d00; font-weight:bold; text-decoration:underline;}









