{% extends 'public.html' %}
{% load static %}
{% block content %}



    <!--box-->
    <div id="box">
      <img style="width:1192px; height:386px; margin:3px;" src="{% static 'images/Small2580.jpg' %}" />
      <a href="/promotion/2581.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2581.jpg' %}" /></a>
      <a href="/promotion/2582.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2582.jpg' %}" /></a>
      <a href="/promotion/2583.html" target="_blank"> <img style="width:1192px; height:492px; margin:3px;" src="{% static 'images/Small2583.jpg' %}" /></a>
      <a href="/promotion/2584.html" target="_blank"> <img style="width:1192px; height:310px; margin:3px;" src="{% static 'images/Small2584.jpg' %}" /></a>
      <a href="/facetSearch?brandName=Adidas&discount=8%E6%8A%98%E4%BB%A5%E4%B8%8A" target="_blank"><img src="{% static 'images/1141.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Adidas&discount=5-8%E6%8A%98" target="_blank"><img src="{% static 'images/1142.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Adidas&discount=0-4%E6%8A%98" target="_blank"><img src="{% static 'images/1143.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
    </div>

{% endblock content %}