
{% extends 'public.html' %}
{% load static %}
{% block content %}

    <!--box-->
    <div id="box">
      <img style="width:1192px; height:386px; margin:3px;" src="{% static 'images/Small2602.jpg' %}" />
      <a href="/promotion/2603.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2603.jpg' %}" /></a>
      <a href="/promotion/2604.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2604.jpg' %}" /></a>
      <a href="/promotion/2605.html" target="_blank"> <img style="width:1192px; height:492px; margin:3px;" src="{% static 'images/Small2605.jpg' %}" /></a>
      <a href="/promotion/2606.html" target="_blank"> <img style="width:1192px; height:310px; margin:3px;" src="{% static 'images/Small2606.jpg' %}" /></a>
      <a href="/facetSearch?brandName=Converse&discount=8%E6%8A%98%E4%BB%A5%E4%B8%8A" target="_blank"><img src="{% static 'images/1319.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Converse&discount=5-8%E6%8A%98" target="_blank"><img src="{% static 'images/1317.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Converse&discount=0-4%E6%8A%98" target="_blank"><img src="{% static 'images/1320.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
    </div>
{% endblock content %}