{% extends 'public.html' %}
{% load static %}
{% block content %}


    <!--中间图片-->
    <img src="{% static 'images/Small2578.jpg' %}" />
    <!--中间图片 end-->
    <!--box-->
    <div id="box">
      <!--左边-->
      <div class="jie_11">
        <img src="{% static 'images/mt_03.png' %}" class="mt_1" />
        <div class="j11_box">
          <p class="hp">
            <span class="sp_1">限时特卖</span>
            <span class="sp_2">100%正品保障，实体店供货</span>
          </p>



            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2280.jpg' %}" />
                    <span class="sp_1">斯凯奇专区</span>
                    <span class="sp_2">Skechers潮流鞋服特惠</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2280.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2276.jpg' %}" />
                    <span class="sp_1">耐克</span>
                    <span class="sp_2">耐克 运动大牌</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2276.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2315.jpg' %}" />
                    <span class="sp_1">哥伦比亚专场</span>
                    <span class="sp_2">哥伦比亚专场</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2315.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2282.jpg' %}" />
                    <span class="sp_1">李宁</span> <span class="sp_2">李宁 训练文化 越动越high 特卖2折起</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2282.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2351.jpg' %}" />
                    <span class="sp_1">探路者</span> <span class="sp_2">TOREAD 探路者 缤纷户外 大牌3折起</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2351.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2290.jpg' %}" />
                    <span class="sp_1">Kappa</span> <span class="sp_2">Kappa 潮流街区潮品</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2290.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2292.jpg' %}" />
                    <span class="sp_1">阿迪达斯</span> <span class="sp_2">阿迪达斯 专区</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2292.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2281.jpg' %}" />
                    <span class="sp_1">彪马</span> <span class="sp_2">彪马 潮流鞋服</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2281.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2335.jpg' %}" />
                    <span class="sp_1">斯凯奇</span> <span class="sp_2">斯凯奇 专区</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2335.jpg' %}"/></a>
              </li>

            </ul>

            <ul>
              <li class="o_li">
                <a href="" target="_blank"> <img src="{% static 'images/Small2333.jpg' %}" />
                    <span class="sp_1">安踏</span>
                    <span class="sp_2">安踏折扣专区</span>
                </a>
              </li>
              <li class="t_li">
                <a href="" target="_blank"> <img src="{% static 'images/Big2333.jpg' %}"/></a>
              </li>

            </ul>

        </div>

        <div class="j11_box1">
          <p class="hp">
            <span class="sp_3">最新品牌</span>
          </p>
          <ul class="s_li1">
              <li>
                <a href='/facetSearch?brandName="Nike"' target="_blank"> <img src="{% static 'images/xp1.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Adidas"' target="_blank"> <img src="{% static 'images/xp2.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Newbalance"' target="_blank"> <img src="{% static 'images/xp3.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Thenorthface"' target="_blank"> <img src="{% static 'images/xp4.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="PUMA"' target="_blank"> <img src="{% static 'images/xp5.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Adidas originals"' target="_blank"> <img src="{% static 'images/xp6.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Converse"' target="_blank"> <img src="{% static 'images/xp7.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="vans"' target="_blank"> <img src="{% static 'images/xp8.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Mlb"' target="_blank"> <img src="{% static 'images/xp9.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Mizuno"' target="_blank"> <img src="{% static 'images/xp10.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Anta"' target="_blank"> <img src="{% static 'images/xp11.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Lining"' target="_blank"> <img src="{% static 'images/xp12.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Columbia"' target="_blank"> <img src="{% static 'images/xp13.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Kappa"' target="_blank"> <img src="{% static 'images/xp14.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="SWISSWIN"' target="_blank"> <img src="{% static 'images/xp15.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Adsc"' target="_blank"> <img src="{% static 'images/xp16.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="TOREAD"' target="_blank"> <img src="{% static 'images/xp17.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="kailas"' target="_blank"> <img src="{% static 'images/xp18.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Paul Frank"' target="_blank"> <img src="{% static 'images/xp19.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Fila"' target="_blank"> <img src="{% static 'images/xp20.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Lee"' target="_blank"> <img src="{% static 'images/xp21.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="NIKE360"' target="_blank"> <img src="{% static 'images/xp22.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="5th street"' target="_blank"> <img src="{% static 'images/xp23.jpg' %}" /></a>
              </li>
              <li>
                <a href='/facetSearch?brandName="Pony"' target="_blank"> <img src="{% static 'images/xp24.jpg' %}" /></a>
              </li>
          </ul>
          <ul class="t_li1">
            <p class="hp1">
              促销信息
            </p>



                <a href="" target="_blank">
                <li>
                  <!-- <b>【正在进行】</b> -->
                  DC品牌5折抢购
                </li> </a>




                <a href="" target="_blank">
                <li>
                  <!-- <b>【正在进行】</b> -->
                  hipanda夏季T恤最新降价
                </li> </a>




                <a href="" target="_blank">
                <li>
                  <!-- <b>【正在进行】</b> -->
                  耐克运动鞋低至7.3折
                </li> </a>



            <p class="hp_1">
              <a href="#" target="_blank">更多>></a>
            </p>
          </ul>
        </div>

      </div>
      <!--左边 end-->
    </div>
{% endblock content %}