{% extends 'public.html' %}
{% load static %}
{% block content %}


    <!--box-->
    <div id="box">
      <img style="width:1192px; height:386px; margin:3px;" src="{% static 'images/Small2585.jpg' %}" />
      <a href="/promotion/2586.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2586.jpg' %}" /></a>
      <a href="/promotion/2587.html" target="_blank"> <img style="width:593px; height:433px; margin:3px; float:left;" src="{% static 'images/Small2587.jpg' %}" /></a>
      <a href="/promotion/2588.html" target="_blank"> <img style="width:1192px; height:492px; margin:3px;" src="{% static 'images/Small2588.jpg' %}" /></a>
      <a href="/promotion/2589.html" target="_blank"> <img style="width:1192px; height:310px; margin:3px;" src="{% static 'images/Small2589.jpg' %}" /></a>
      <a href="/facetSearch?brandName=Nike&discount=8%E6%8A%98%E4%BB%A5%E4%B8%8A" target="_blank"><img src="{% static 'images/1144.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Nike&discount=5-8%E6%8A%98" target="_blank"><img src="{% static 'images/1145.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
      <a href="/facetSearch?brandName=Nike&discount=0-4%E6%8A%98" target="_blank"><img src="{% static 'images/1146.jpg' %}" style="width: 315px; height: 113px; margin:32px; float:left;" /></a>
    </div>

{% endblock content %}